# Base de données PostgreSQL
DATABASE_URL="DATABASE_URL="postgresql://myklab_user:myklab_password@localhost:5432/myklab_dev_db""

# Serveur
PORT=5000

# JWT - remplacer par une chaîne aléatoire longue en production
JWT_SECRET="change_this_secret_key_in_production"
